<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Request Header Parser Microservice</title>
  <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl_0n1OFG4UmtToXLMBh1bqOf1JfxFXxcrTdq0bbs2Xu3S-Y1Z4JtPKFedhjtu0eCzNRs&usqp=CAU"/>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="title">
    <h1>Request Header Parser Microservice</h1>
    <h3>Build a full stack JavaScript app that is functionally similar to this: <a target="_blank" href="https://request-header-parser-microservice.freecodecamp.rocks/">FCC Request Header Parser Microservice Model</a>.</h3>
  </div>
  <div class="container">
    <h2>Example URL path:</h2><hr>
    <p>
    <a href="api/whoami">[your project url]/api/whoami</a>
    </p>
    <br>
    <h2>Example Output:</h2><hr>
      <p><code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5","software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code></p>
  </div>
  <footer>
    <p>
      Template from: <a href="https://github.com/freeCodeCamp/boilerplate-project-headerparser/">freeCodeCamp.org</a>, 
      edited by <a href="https://github.com/filipy94">Filipy Dellagnolo</a>. 
      Project Repository <a href="https://github.com/filipy94/request-header-parser-microservice">here</a>.
    </p>
  </footer>
</body>
</html>
